<Project xmlns="http://schemas.postsharp.org/1.0/configuration">

	<Property Name="LoggingBackend" Value="NLogLoggingBackend"/>
	<Multicast>
		<When Condition="{has-plugin('PostSharp.Patterns.Diagnostics')}">
			<LogAttribute xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics" />
		</When>
	</Multicast>
</Project>


