<!-- 
  configuration copied from here
  https://doc.postsharp.net/add-logging#s1
  
  Additionally, may have to add sections for license
-->
<Project xmlns="http://schemas.postsharp.org/1.0/configuration">
	<Multicast>
		<When Condition="{has-plugin('PostSharp.Patterns.Diagnostics')}">
			<LogAttribute xmlns="clr-namespace:PostSharp.Patterns.Diagnostics;assembly:PostSharp.Patterns.Diagnostics" />
		</When>
	</Multicast>
</Project>